
  <div class="navbar navbar-inverse" >
    <div class="navbar-start ">
      <a  target="_top" class="navbar-item .title navbar-brand"  id="title-nav" disable  routerLink="/">AppTienda</a>
    </div>
    <div class="navbar-end ">
        <button type="button"  name="button"  class="navbar-item"  routerLink="/">
        <span class="icon"><i class="fas fa-home"></i> </span>  Home
        </button>
        <button type="button"  name="button"  class="navbar-item"  routerLink="/deudores">
        <span class="icon"><i class="fas fa-list-ul"></i> </span>  Deudores
        </button>
        <button type="button"  name="button"  class="navbar-item"  routerLink="/almacen">
        <span class="icon"><i class="fas fa-cubes"></i> </span>  Almacén
      </button>
    </div>
  </div>
