#tab{
  background-color: #263238;
  color: grey;
  width: 100%;
 /*border: 5px solid red;*/
}
#tab-index{
  width: 10px;
}
.jumbotron,container{
  width: 100%;
}
#btn-new{
  padding-bottom: 0;
  border-bottom: 0;
}
#botones{
  height: 100%;
  width: 100%;
  /*border: 5px solid red;*/
}
.fila1{
  height: 100%;
}
#lupita{
  width: 20px;
}
#busca{
  position:relative;
    text-align:center;
}
label{
  background-color: white;
  height: 100%;

}
input{
  color: black;
  height: 40px
}
input:focus{
  border-left: 7px solid  #00d1b2;
  }
  .fas{
    margin-right: 4%;
    margin-left: 3%;
  }
  .button{
      -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
    color:#2b3e50;
    width: 100%;
  }
  .button:hover{
    background-color: #00d1b0; /* Green */
    color: white;
  }
  .inputs{
    height: 40px;
  }
  input:focus{
    border-left: 7px solid  #00d1b2;
    font-size: 15pt;
  }
  .botones{
    margin-top: 2%;
    margin-bottom: 2%;
  }
