*{
  color: white;
}
input{
  color: black;
  height: 40px
}
input:focus{
  border-left: 7px solid  #00d1b2;
  }
.navbar-end{
  border-radius: 4px solid red;
}
button{
  height: 40px;
  width: 12%;
  margin-left: 1%;
  color: black;
  }
.container{
  margin-top: 3%;
  width: 80%;
  }
.navbar-end{
  margin-top: 5%;
  margin-bottom: 5%;
}
.fas{
  margin-right: 10%;
}
