<div class="container">
   <div class="columns hola2 is-centered" >
        <form (ngSubmit)="onGuardarProducto(formNew)" #formNew="ngForm">
          <div class="form-group ">
            <label for="exampleInputEmail1">Nombre </label>
            <input [(ngModel)]="productos.nombre" #nombre="ngModel" name="nombre"  type="email" class="form-control" id="exampleInputEmail1" placeholder="Zucaritas">

            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Piezas Adquiridas</label>
            <input [(ngModel)]="productos.cantidad" #cantidad="ngModel" name="cantidad" type="number" class="form-control" id="exampleInputPassword1" placeholder="0.00">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Precio de Compra</label>
            <input [(ngModel)]="productos.compra" #compra="ngModel" name="compra" type="number" class="form-control" id="exampleInputPassword1" placeholder="$000.00">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Precio de Venta</label>
            <input [(ngModel)]="productos.venta" #venta="ngModel" name="venta" type="number" class="form-control" id="exampleInputPassword1" placeholder="$000.00">
          </div>
          <div class="columns navbar-end">
            <div class="field is-grouped">
                  <p class="control">
                    <button type="submit" class="button is-success" name="button" >Save</button>
                  </p>
                </div>
          </div>
        </form>
        </div>

     </div>
