
<div class="container jumbotron ">
<!-- botones -->
<div class="columns">
  <div class="column is-four-fifths">
    <input class="input is-primary buscar" type="text" placeholder="Buscar en Almacén">
  </div>
  <div class="column">
    <button class="button is-primary" routerLink="/nuevacompra" type="submit">
      <i class="fas fa-plus"></i>
       Agregar Producto</button>
  </div>
  </div>
<!-- items -->

      <div class="columns is-multiline">
        <div class="column is-one-quarter-desktop is-one-third-tablet" *ngFor="let product of productoitem;let i=index">
          <div class="b-vehicle b-vehicle list-item">
              <div class="card">

                    <div class="card-image">
                          <a href="#"><figure class="image is-16by9"><img src="./assets/almacen/product.jpg" id="img_products" alt=""> </figure></a>
                    </div>

          <div class="card-content">
              <div class="media">
                  <div class="media-content">
                    <label for="" class="invisible">{{i}}</label>
                      <p class="b-vehicle__title title is-5">{{product.nombre}}</p>
                      <p class="b-vehicle__subtitle subtitle is-6">Cantidad: {{product.cantidad}}</p>
                  </div>
              </div>
              <div class="b-vehicle__content content">
                  <div class="b-vehicle__year">
                        <p><strong>Precio de Compra: ${{ product.compra }}</strong></p>
                  </div>
                  <div class="b-vehicle__year">
                        <p><strong>Precio de Venta: ${{product.venta}}</strong></p>
                  </div>
              </div>
        </div>

</div>
</div>
      </div>

</div>
</div>
