*{
  color: white;
  text-align: left;
}
input{
  color: black;
}
.inputs{
  height: 40px;
}
input:focus{
  border-left: 7px solid  #00d1b2;
  font-size: 15pt;
}
button{
  height: 40px;
  width: 12%;
  margin-left: 1%;
  color: black;
  }
  #icon{
    margin-right: 10%;
  }
  .container{
    margin-top: 3%;
    width: 80%;
    }
